@using NavesPortalforWebWithCoreMvc.Common;
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Notifications;
@model NavesPortalforWebWithCoreMvc.Models.TNAV_CET_SERVICE_SUPPLIER;
@*@model NavesPortalforWebWithCoreMvc.ViewModels.CetServiceSupplierViewModel;*@

@{
    ViewBag.PageTitle = "CET > Service Supplier New/Detail";
    ViewBag.PlatformName = "CET";
    ViewBag.MenuName = "Certificate of Approval of Service Supplier";
    ViewBag.FunctionName = "New";
}

@section ContentsSection{
    <div class="d-flex justify-content-between align-items-center">
        <div class="ps-2 pageContentTitle">
            <h3>Certificate of Approval of Service Supplier</h3>
        </div>
        <div></div>
    </div>

     <form id="ParentWin" asp-controller="CetServiceSupplier" asp-action="Edit" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
    <div class="align-items-center mx-0 row bprder border-bottom">
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Work Id</label>
            <div class="col-sm-4">
                <ejs-autocomplete id="acWorkId" dataSource="@ViewBag.WorkId" ejs-for="WORK_ID" placeholder="Select Work ID..." autofill="true" filterType="Contains"
                                    cssClass="inputable"
                                    highlight="true"
                                    suggestionCount="20"
                                    minLength="3"
                                    popupHeight="300px"
                                    popupWidth="1000px"
                                    headerTemplate="@Html.Raw("<div class=\"row m-2 p-1 fs-5 border-bottom border-2 bg-create-title\"><div class=\"col-2\">Work Id</div><div class=\"col-3\">Project Id</div><div class=\"col-3\">Project Title</div><div class=\"col-2\">Job Id</div></div>")"
                                    itemTemplate="@Html.Raw("<div class=\"row border-bottom border-1\"><div class=\"col-2\">${WORK_ID}</div><div class=\"col-3\">${PROJECT_ID}</div><div class=\"col-3\">${PROJECT_TITLE}</div><div class=\"col-2\">${JOB_ID}</div></div>")"
                                    change="OnChangeSelectWorkId">
                    <e-autocomplete-fields value="WORK_ID"></e-autocomplete-fields>
                </ejs-autocomplete>
            </div>
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Cert No.</label>
            <div class="col-sm-2">
                <ejs-textbox type="text" readonly id="txtCertNo" cssClass="e-outline text-left" disabled></ejs-textbox>        
            </div>    
             <div class="col-sm-2 text-end">
                <a id="btnCertNo" style="width:130px" class="btn btn-info btn-custom rounded-pill waves-effect waves-light">Create Cert No.</a>
            </div>
    </div>

    <div class="align-items-center mx-0 row bprder border-bottom">
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Date of Issue</label>
            <div class="col-sm-4">
                <ejs-datepicker id="TAInitialDate" ejs-for="DATE_OF_ISSUE" format="yyyy-MM-dd" cssClass="inputable"></ejs-datepicker>
            </div>
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Cert Valid Date</label>
            <div class="col-sm-4">
                <ejs-datepicker id="TADateOfIssue" ejs-for="CERT_VALID_DATE" format="yyyy-MM-dd" cssClass="inputable"></ejs-datepicker>
            </div>
        </div>

    <div class="align-items-center mx-0 row bprder border-bottom">
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Company</label>
            <div class="col-sm-4">
                <ejs-textbox type="text" ejs-for="COMPANY" id="text1" cssClass="e-outline text-left inputable"></ejs-textbox> 
            </div>
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Scope of Service</label>
            <div class="col-sm-4">
                <ejs-dropdownlist id="ScopeOfService" ejs-for="SCOPE_OF_SERVICE" popupHeight="@ViewBag.popupHeight" dataSource="@CommonSettingData.GetCurrencyType()"
                              placeholder="--Select Service Scope--" cssClass="inputable">
                    <e-dropdownlist-fields text="Text" value="Value"></e-dropdownlist-fields>
                </ejs-dropdownlist> 
            </div>    
    </div>

    <div class="align-items-center mx-0 row bprder border-bottom">
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Company Name</label>
            <div class="col-sm-10">
                <ejs-textbox type="text" ejs-for="COMPANY_NAME" id="ComName" cssClass="e-outline text-left inputable"></ejs-textbox> 
            </div>    
    </div>
    
    <div class="align-items-center mx-0 row bprder border-bottom">
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Address</label>
            <div class="col-sm-10">
                <ejs-textbox type="text" ejs-for="ADDRESS" id="text3" cssClass="e-outline text-left inputable"></ejs-textbox>
            </div>    
    </div>
    
    <div class="align-items-center mx-0 mb-4 row bprder border-bottom">
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Annex to Cert</label>
            <div class="col-sm-10">
                <button type="button" class="btn btn-purple btn-custom rounded-pill waves-effect waves-light" style="width:130px" id="btnModiSert">Insert/Modify</button>
            </div>    
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <div class="ps-2 pageContentTitle">
            <h3>Approval Information</h3>
        </div>
        <div></div>
    </div>    
    
    <div class="align-items-center mx-0 row bprder border-bottom">
            <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Approver</label>
            <div class="col-sm-4">
                <ejs-dropdownlist id="CetSelectGM" ejs-for="APPROVER" dataSource="@ViewBag.Approver" cssClass="inputable"
                    placeholder="Select GM...">
                    <e-dropdownlist-fields text="USER_NAME_E" value="USER_ID"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
             <label class="col-sm-2 col-form-label text-end fw-bolder bg-create-title">Surveyor</label>
            <div class="col-sm-4">
               @Model.SURVEYOR_NAME
               @Model.SURVEYOR_NUMBER
            </div>
    </div>

    <div class="d-none">
        <input type="hidden" id="hdIsClickSave" />
        <input type="hidden" asp-for="SERVICE_SUPPLIER_IDX" />
    </div>
    
    <div class="pt-2 pe-0">
        <div class="float-start row g-0">
            <div class="col-auto pe-2">
                <button type="button" id="btnPreview" style="width:100px" class="btn btn-success btn-medium rounded-pill wasves-effect waves-light">Preview</button>
            </div>
            <div class="col-auto pe-2">
                <button type="button" id="btnLog" style="width:100px" class="btn btn-success btn-medium rounded-pill wasves-effect waves-light">Show Log</button>
            </div>
            <div class="col-auto pe-2">
                <button type="button" id="btnChr" style="width:160px" class="btn btn-success btn-medium rounded-pill wasves-effect waves-light">Special Character</button>
            </div>
            <div class="col-auto pe-2">
                <button type="button" id="btnCert" style="width:200px" class="btn btn-success btn-medium rounded-pill wasves-effect waves-light">Request for Certification</button>
            </div>
            <div class="col-auto">
            </div>
        </div>
        <div class="float-end row g-0">
            <div class="col-auto pe-2">
            </div>
            <div class="col-auto pe-2">
                <button type="submit" asp-controller="CetServiceSupplier" asp-action="Edit" id="btnSave" class="btn btn-primary btn-medium rounded-pill wasves-effect waves-light">Save</button>
            </div>
             <div class="col-auto pe-2">
                <button type="button" id="btnCopy" class="btn btn-primary btn-medium rounded-pill wasves-effect waves-light">Copy</button>
            </div>
            <div class="col-auto pe-2">
                <button type="button" id="btnDelete" class="btn btn-danger btn-medium rounded-pill wasves-effect waves-light">Delete</button>
            </div>
        </div>
    </div>
    </form>
}

<script>
    function OnChangeSelectWorkId(args) {
        console.log(args);
        if ($("#acWorkId").is(":focus") == false) {
            return;
        }

        //if (args.value.length >= 3) {
        //    var acWorkId = document.getElementById('acWorkId').ej2_instances[0];
        //    var workIdText = acWorkId.itemData.PROJECT_ID + "&nbsp" + acWorkId.itemData.PROJECT_TITLE + "&nbsp" + acWorkId.itemData.JOB_ID;
        //}
   
    }
    </script>

    @section Scripts {
    <script>
        // Insert/Modify Popup
        $("#btnModiSert").click(function() {

            var W = (screen.availWidth * 0.5);
            var H = 1000;

            var popupX = (screen.availWidth / 2) - (W / 2);
            var popupY = (screen.availHeight / 2) - (H / 2);

            var opt = "status=no,width=" + W + "px, height=" + H + "px, left=" + popupX + ", top=" + popupY + ",scrollbars=yes";
            var popup = window.open('@Url.Action("InsertModifyPopup", "CetServiceSupplier", new{})', 'LogList', opt); 

            popup.opener = window;
            popup.focus();
        });

         // Special Character Window Popup
        $("#btnChr").click(function() {

            var W = (screen.availWidth * 0.4);
            var H = 500;

            var popupX = (screen.availWidth / 2) - (W / 2);
            var popupY = (screen.availHeight / 2) - (H / 2);

            var opt = "status=no,width=" + W + "px, height=" + H + "px, left=" + popupX + ", top=" + popupY + ",scrollbars=yes";
            var popup = window.open('@Url.Action("SpecialCharPopup", "CetServiceSupplier", new{})', 'LogList', opt);

            popup.opener = window;
            popup.focus();
        });

        // Scope of Service Popup
        $("#ScopeOfService").click(function() {
            var W = (screen.availWidth * 0.5);
            var H = 300;

            var popupX = (screen.availWidth / 2) - (W / 2);
            var popupY = (screen.availHeight / 2) - (H / 2);

            var opt = "status=no,width=" + W + "px, height=" + H + "px, left=" + popupX + ", top=" + popupY + ",scrollbars=yes";
            var popup = window.open('@Url.Action("ScopeOfService", "CetServiceSupplier", new {})', 'LogList', opt);

            popup.opener = window;
            popup.focus();
        });

    </script>
}